html, body {
    margin: 0;
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.content {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container_timer {
    width: 400px;
    padding-left: 150px;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100pt;
    color: #03DD8F;
}


.finish_button {
    color: #18a0fb;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.container_colock {
    margin: 0;
    padding: 0;
    height: 100%;
}

.colock_map {
    margin: 0;
    padding: 0;
    height: 90%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.menu {
    width: 95%;
    text-align: right;
    letter-spacing: 15px;
    padding: 30px 10px;
}

.colock {
    width: 500px;
    height: 500px;
    border-radius:999em;
    border-color: #BEFAE4;
    border-width: 5px;
    border-style: solid;
    display:flex;
    align-items:center;
    justify-content:center;
}

.play_button {
    width: 100px;
    height: 100px;
    border-radius:999em;
    border-color: #03DD8F;
    border-width: 8px;
    border-style: solid;
    display:flex;
    align-items:center;
    justify-content:center;

}

.analysis_button {
    color: #000;
}

.play_click_button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22.5px 0 22.5px 39.0px;
    border-color: transparent transparent transparent #03DD8F;
    display:flex;
    align-items:center;
    justify-content:center;
}

.item_list {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 85%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 45px;
}

.list_title {
    margin-bottom: 50px;
}

.new_line {
    color: gray;
    cursor: text;
}

.list-group-item {
    cursor: pointer;
}